name: Build

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    name: Build & Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: dotnet build -c Release

      - name: Run tests without Coverage
        if: startsWith(matrix.os, 'windows')
        run: dotnet test --no-build -c Release
